
   <script>
   function display_category(){
    let category= document.getElementsByClassName('nav-bar--film_categorie')[0];
    category.classList.toggle('hidden')
}</script>
    <footer>
       <p> © copyright - Tous droits réservés </p> 
    </footer>