<nav>
        
    <ul>
        <% for(const categorie of nav_categorie) { %>
            <li><a href= '/<%=categorie.name %>' > <%= categorie.name.toUpperCase() %> </a></li>
        <% } %>
    </ul> 

</nav>