<nav class="nav-bar">
        
    <ul class="nav-bar--section">
        <% for(const categorie of nav_categorie) { %>
            <% if (categorie.name ==="catégories") {%>
            <li><button onclick="display_category()"><%= categorie.name.toUpperCase() %></button></li>
            <% } else {%>
            <li><a href= '/<%=categorie.name %>' > <%= categorie.name.toUpperCase() %> </a></li>
            <% } %>
        <% } %>
    </ul> 
    <ul class="nav-bar--film_categorie">
        <% for (const film_type of film_categories ) { %>
            <li>
                <%= film_type.category %>
            </li>

        <% } %>

    </ul>

</nav>