
<%- include('partials/head'); %>
<body>


    <%- include('partials/nav_bar')%>
  
    <% if(locals.switch_css){%><p>Test ok</p> <%} 
    else{ %><p>Just no</p> <% } %>

    <%- include('partials/footer'); %>
</body>
</html>