body{
  margin : 0;
  background-color: #13132D;
  color:white;
} 
/* Organisttaion de la page de Film*/
.film_container{

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}
.box_film{ 

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 185px;

  
  
  margin: 5px;
  padding: 1px;

  
}
.film_image{
  width: 185px;
  height: 278px;
}
.link{
  text-decoration: none;
  color:white;
}
.film--add{
  
}

/*nav_bar*/
ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #302a2a;
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
 }
 
 /* Change the link color to #111 (black) on hover */
 li a:hover {
   background-color: #070707;
 }
 /***********************************************************************/